@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #df96b2;
}

.slider{
  width: 400px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 400px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 500px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 500px;
  justify-content: center;
  margin-top: 460px;
}
span{
  color: rgb(177, 31, 31);
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
 body {
  color: #ffffffbf;
  font-family: 'Poppins', sans-serif;
  background: #191919;
  padding: 40px;
}

.typewriter-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-ce;
}
.typewriter p {
  font-size: 35px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
margin-top: -600px;
  animation: typing 3.5s steps(24);
}
.typewriter p::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background: #dadada;
  right: 0;
  top: 0;
  animation: cursor 1s infinite;
}

@keyframes typing {
  from {width:0}
  to {width: 51%;}
}

@keyframes cursor {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@media screen and (max-width:480px) {
  body {
    background-color: #cf4f80;
  }
  .typewriter p {
    font-size: 26px;
    font-weight: lighter;
    overflow: hidden;
    margin-top: -550px;
    white-space: nowrap;
    position: absolute;
    animation: typing 3.5s steps(24);
  }
  @keyframes typing {
    from {width:0}
    to {width: 80%;}
  }
  
}